body {
    background-color: #13293dff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
    color: aliceblue;
    font-size: 3;
    text-align: center;
}

.pic1 {
  display: table-row;
  
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.pic2 {
  display: center;
  justify-content: start;
  margin: 0 auto;
  
  width: 30%;
  height: auto;
}

.pic3 {
  display: center;
  justify-content: start;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.pic4 {
  display:  center;
  justify-content: start;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.pic5 {
  display: center;
  justify-content: start;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.pic6 {
  display: none;
  margin: 0 auto;
  width: 30%;
  height: auto;
}

.pic7 {
  display: none;
  margin: 0 auto;
  width: 30%;
  height: auto;
}